{% extends 'base.html.twig' %}

{% block title %}Recap de ma commande{% endblock %}

{% block body %}

<h1>Commande Annulée</h1>

<hr>

<div class="commande-annulee">
    <i class="fas fa-barcode"></i>
</div>


{% endblock %}
